
model/__pycache__/tournament_model.cpython-39.pyc
model/__pycache__/tournament_player_model.cpython-39.pyc
view/__pycache__/menu_view.cpython-39.pyc
.idea/Centre-Echecs.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
